<div class="grid grid-cols-3 gap-8">
  <!-- Masken -->
  <div class="relative">
    <div class="max-w-sm overflow-hidden rounded shadow-lg">
      <img
        class="w-full"
        src="https://cms.goteborg.com/uploads/2020/12/luckans-fisk-43-1-scaled.jpg"
        alt="Sunset in the mountains"
      />
      <div class="absolute bottom-24 right-2">
        <img
          class="w-20 h-20 rounded-full"
          src="https://media.licdn.com/dms/image/C4E03AQGgX-_7QYVO6g/profile-displayphoto-shrink_400_400/0/1572791356242?e=1686787200&v=beta&t=1LIBNZDHgS_CWH58M6xhkRMBboCYDncAa8kb43BdLVY"
          alt=""
          width="384"
          height="512"
        />
      </div>
      <div class="flex px-2 py-4 pb-2">
        <div class="flex-0 w-60 font-bold text-sm">
          Mats Danielsson
        </div>
      </div>
      <div class="px-6 py-4">
        <div class="mb-2 text-xl font-bold">Från Havet</div>
        <p class="text-base text-gray-700">
          Smaker från havet
        </p>
      </div>
    </div>
  </div>
  <!-- Mevva -->
  <div class="relative">
    <a href="/lobby/kitchen/mevvas">
      <div class="max-w-sm overflow-hidden rounded shadow-lg">
        <img
          class="w-full"
          src="https://cdn.vagabond.se/app/uploads/2021/06/YTo2OntzOjI6ImlkIjtpOjE2NjMxMzg7czoxOiJ3IjtpOjgwMDtzOjE6ImgiO2k6MzIwMDtzOjE6ImMiO2k6MDtzOjE6InMiO2k6MDtzOjE6ImsiO3M6NDA6ImRkZWIyMjQxZTUzMDc3ZTk2NjczMzZjMzU3ZjA0NmQ0NWY2NTA3MWMiO30.jpg"
          alt="Sunset in the mountains"
        />
        <div class="absolute bottom-24 right-2">
          <img
            class="w-20 h-20 rounded-full"
            src="https://media.licdn.com/dms/image/D4E35AQH-OIXxkVq4lA/profile-framedphoto-shrink_400_400/0/1678721647344?e=1681671600&v=beta&t=R-p0cXkYawes0onOCgj0Zas-lpUk9fyd1Ju8uPpbCKg"
            alt=""
            width="384"
            height="512"
          />
        </div>
        <div class="flex px-2 py-4 pb-2">
          <div class="flex-0 w-60 font-bold text-sm">
            Martin Högenberg
          </div>
        </div>
        <div class="px-6 py-4">
          <div class="mb-2 text-xl font-bold">Brödet</div>
          <p class="text-base text-gray-700">
            Bageri med surdeg
          </p>
        </div>
      </div>
    </a>
  </div>
  <!-- Silvia -->
  <div class="relative">
    <a href="/lobby/kitchen/silvias">
      <div class="max-w-sm overflow-hidden rounded shadow-lg">
        <img
          class="w-full"
          src="https://thatsup.website/storage/214/12976/0EE34094-2279-4BFC-9A3E-2FBB6EBBB0B6.jpeg?v=1668173703"
          alt="Sunset in the mountains"
        />
        <div class="absolute bottom-24 right-2">
          <img
            class="w-20 h-20 rounded-full"
            src="https://media.licdn.com/dms/image/C4E03AQGRsbowBF4mog/profile-displayphoto-shrink_400_400/0/1599810823727?e=1686787200&v=beta&t=OBKHfuWj8EmxqACaTJcVWuQp_PfxfBW8DoKIm5vHHIk"
            alt=""
            width="384"
            height="512"
          />
        </div>
        <div class="flex px-2 py-4 pb-2">
          <div class="flex-0 w-60 font-bold text-sm">
            Silvia Nilsson
          </div>
        </div>
        <div class="px-6 py-4">
          <div class="mb-2 text-xl font-bold">Lima</div>
          <p class="text-base text-gray-700">
            Smaker från Peru
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
