<.header>
  New Resturant
  <:subtitle>Use this form to manage resturant records in your database.</:subtitle>
</.header>

<.resturant_form changeset={@changeset} action={~p"/resturants"} />

<.back navigate={~p"/resturants"}>Back to resturants</.back>
