<.header>
  New Menu
  <:subtitle>Use this form to manage menu records in your database.</:subtitle>
</.header>

<.menu_form changeset={@changeset} action={~p"/menus"} />

<.back navigate={~p"/menus"}>Back to menus</.back>
